body {
	background-image: linear-gradient( 135deg, #FCCF31 10%, #F55555 100%);
}

html {
	min-height: 100%;
}

.bg-light {
	background-color: #ffe2e2 !important;
}

.border-bottom {
	border-color: #F55555 !important;
}

.secret {
	color:#ffe2e2 !important; 
	background-color: #212529 !important;
}

#secret-code {
	text-transform: uppercase;
}

li {
	line-height: 2;
}

.its-me {
	font-weight: bolder;
}

.logged-in-as {
	position: absolute;
	right: 1rem;
	top: 1rem;
	font-size: 12px;
	font-style: italic;
	max-width: 30%;
}

.float-bottom {
	position: absolute;
	margin: 1rem;
	bottom: 0;
	right: 0;
}

.btn-primary {
	color: #000;
	background-color: #FCCF31;
	border-color: #000;
}

.btn-primary:hover {
  color: #000;
  background-color: #fbc813;
  border-color: #000;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0,0,0,0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #000;
  background-color: #FCCF31;
  border-color: #FCCF31;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #000;
  background-color: #fbc813;
  border-color: #000;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0,0,0,0.5);
}